.d3tree3 text {
  font-size: 10px;
  font-family: sans-serif;
}

.d3tree3 .grandparent text {
  font-weight: bold;
  font-size: inherit;
}

.d3tree3 .legend text{
  font-size: inherit;
}

.d3tree3 rect {
  stroke: #aaa;
  stroke-width: 1px;
}

.d3tree3 rect.parent,
.d3tree3 .grandparent rect {
  stroke-width: 1px;
}

.d3tree3 .children rect.parent,
.d3tree3 .grandparent rect {
  cursor: pointer;
}

.d3tree3 .children rect.child {
  opacity: 1;
  stroke-width:1;
  stroke-opacity:0.5;
}

.d3tree3 .children rect.parent {
  fill-opacity:0;
  stroke-width: 0px;
}
.d3tree3 .children:hover rect.parent {
}
.d3tree3 text.value-label {
  font-size: 12px;
}

.d3tree3 text a:hover, text a:active {
 text-decoration: underline;
}

.d3tree3 .children:hover rect.child {
   stroke: #fff; 
}
